In [1]:
import pandas as pd

In [4]:
pd.read_excel(r'C:\Users\victo\OneDrive\Área de Trabalho\Contas.xlsx')

,contas,Dividas Fixas,Fixo Carol,Fixo Victor,Unnamed: 4,Unnamed: 5,carro,moto victor,moto carol
0,aluguel,900,NaN,NaN,NaN,oleo,120 - 5000km(natural) 10000km(sintetico),40 - 1000km,40 - 1000km
1,energia,140,NaN,NaN,NaN,gasolina,120,80,40
2,internet,100,NaN,NaN,NaN,km/L,20,30,40
3,condomínio,200,NaN,NaN,NaN,tanque cheio/km,450,300,150
4,carro,1400,NaN,NaN,NaN,NaN,NaN,NaN,NaN
5,total aprox,2900,2500.0,1950.0,NaN,IPVA,500,200,200
6,total cada,1450,NaN,NaN,NaN,NaN,NaN,NaN,NaN
7,cartão,max ideal,1050.0,500.0,NaN,NaN,5000km,1000km,NaN
8,NaN,NaN,NaN,NaN,NaN,NaN,1370,300,NaN
9,NaN,NaN,NaN,NaN,NaN,NaN,NaN,5000km,NaN
10,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1500,NaN

In [9]:
if 'Dividas Fixas' <= 'total cada':
    print ('tudo em ordem')
else:
        print('da uma atencao ai, mane')

tudo em ordem

In [10]:
import sklearn

In [11]:
from sklearn.svm import SVC
from sklearn.metrics import accuracy_score

In [14]:
base = pd.read_csv (r'C:\Users\victo\Downloads\Python+para+Data+Science+e+Analytics+-+V2.0+-+Mo_dulo+Avanc_ado.pdf')
base

'C:\\Users\\victo\\Downloads\\Python+para+Data+Science+e+Analytics+-+V2.0+-+Mo_dulo+Avanc_ado.pdf'

In [ ]:
x_train = 
y_train =

In [12]:
clf = SVC(kernel='linear')
clf.fit(x_train, y_train)

NameError: name 'x_train' is not defined